In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf
from statsmodels.tsa.arima.model import ARIMA
from sklearn.metrics import mean_squared_error

In [3]:
def retrieve_stock_data(stock_symbol, start_date, end_date):
    data = yf.download(stock_symbol, start = start_date, end = end_date)
    return data

In [5]:
stock_data = retrieve_stock_data("AAPL", "2020-01-01", "2023-01-01")

[*********************100%***********************]  1 of 1 completed

In [6]:
stock_data.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2020-01-02  74.059998  75.150002  73.797501  75.087502  72.876114  135480400
2020-01-03  74.287498  75.144997  74.125000  74.357498  72.167603  146322800
2020-01-06  73.447502  74.989998  73.187500  74.949997  72.742645  118387200
2020-01-07  74.959999  75.224998  74.370003  74.597504  72.400536  108872000
2020-01-08  74.290001  76.110001  74.290001  75.797501  73.565186  132079200